@model IEnumerable<WithdrawAccount>
@{
    ViewData["Title"] = "Withdraw History";
}

<div class="row">
    <div class="col-md-12">
        <h5 class="text-center">My Withdraw History</h5>
        <hr />
	</div>
</div>
<div class="row">
    <div class="col-md-12">
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Account Name</th>
                    <th>Withdraw Ammount</th>
                    <th>Withdraw Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach(WithdrawAccount item in Model)
                {
                    <tr>
                        <td>@item.Account.FirstName @item.Account.SecondName</td>
                        <td>@item.Ammount</td>
                        <td>@item.WithdrawDateTime.ToString("dd/MM/yyyy")</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Account Name</th>
                    <th>Withdraw Ammount</th>
                    <th>Withdraw Date</th>
                </tr>
            </tfoot>
        </table>
	</div>
</div>
